<!-- Future user details page set up 
<div>
    <label for="name">User name: </label>
    <input id="name" [(ngModel)]="user.name" placeholder="name">    
</div>

<h2>{{ user.name | titlecase }} Details</h2>
<div><span>id: </span>{{ user.id }}</div>
<div><span>name: </span>{{ user.name }}</div>
-->

<!-- Future list users page
<h2>System Users</h2>
<ul class="heroes">
  <li *ngFor="let user of users">
    <button type="button">
      <span class="badge">{{ user.id }}</span>
      <span class="name">{{ user.name }}</span>
    </button>
  </li>
</ul>
-->

<!-- Future Edit Users screen -->
<h2>System Users</h2>
<ul class="heroes">
  <li *ngFor="let user of users">
    <button [class.selected]="user === selectedUser" type="button" (click)="onSelect(user)">
      <span class="badge">{{user.id}}</span>
      <span class="name">{{user.name}}</span>
    </button>
  </li>
</ul>

<app-user-detail [user]="selectedUser"></app-user-detail>
