<div class="container">
  <hr />
  <div class="container">
    <h2>Time Entry Form</h2>
    <form #heroForm="ngForm">
      {{ model | json }}

      <!-- User -->
      <div class="form-group">
        <label for="user">User</label>
        <select
          class="form-control"
          id="user"
          required
          [(ngModel)]="model.userId"
          name="user"
        >
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </div>

      <!-- Project -->
      <div class="form-group">
        <label for="project">Project</label>
        <select
          class="form-control"
          id="project"
          required
          [(ngModel)]="model.projectId"
          name="project"
        >
          <option *ngFor="let project of projects" [value]="project.id">
            {{ project.name }}
          </option>
        </select>
      </div>

      <!-- Date -->
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="date"
          class="form-control"
          id="date"
          [(ngModel)]="model.date"
          name="date"
          required
        />
      </div>

      <!-- Hours Worked -->
      <div class="form-group">
        <label for="name">Hours Worked</label>
        <input
          type="number"
          class="form-control"
          id="hoursWorked"
          required
          [(ngModel)]="model.hoursWorked"
          name="hoursWorked"
          value=""
        />
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="date"
          required
          [(ngModel)]="model.description"
          name="description"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit()">
        Submit
      </button>
    </form>
  </div>
</div>
